; что запускать:
Exec    ~/bin/netcam-motion/netcam-motion.pl

; иконка "программа запущена"
On      i/6-on.png

; иконка "программа не запущена"
Off     i/6-off.png

; запускать программу при старте или нет
Active  0

; каким сигналом убивать
Kill    TERM
